!!!
%html
  %head
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: meta[:description]}
    -# %meta{property: "og:image", content: ''}

    %title= page_title()
    = stylesheet_link_tag 'main'

  %body
    = yield

    = partial :google_analytics
